<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Registration Form</title>
  <link rel="stylesheet" href="static/style1.css">
</head>
<body>
  <h1 class="register-title">Welcome to image journal</h1>
  <form action="register" method="post" class="register">
    <input type="EMAIL" name="EMAIL" class="register-input" placeholder="email">
    <input type="USERNAME" name="USERNAME" class="register-input" placeholder="username">
    <input type="PASSWORD" name="PASSWORD" class="register-input" placeholder="Password">
    <input type="PASSWORD" name="RETYPEPASSWORD" class="register-input"  placeholder="confirm password">
    <input type="submit" value="Create Account" class="register-button">
  </form>
</body>
</html>
